<%= render 'home-nav'%>
<!-- Header -->
    <header class="header text-white h-fullscreen overflow-hidden" style="background-color: #0439D9;">
      <canvas class="constellation" data-radius="0"></canvas>
      <div class="container position-static">
        <div class="row align-items-center h-100">

          <div class="col-lg-7">
            <h1 class="display-4 fw-400">Know your Candidate <br> Make your voice heard…</h1>
            <div class="row gap-y">
            <div class="col-md-6 col-lg-3 team-1">
              <a href="#">
                <img src="../assets/img/avatar/5.jpg" alt="...">
              </a>
              <h6>Morgan Guadis</h6>
              <small>Co-Founder & CEO</small>
              <div class="social social-gray">
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
            <a class="btn btn-xl btn-round btn-outline-light w-300 px-6" href="#section-demo">Get Started</a>
          </div>

          

        </div>
      </div>
    </header><!-- /.header -->
