<%= render 'home-nav'%>
<!-- Header -->
    <header class="header text-white h-fullscreen overflow-hidden" style="background-color: #0439D9;">
      <canvas class="constellation" data-radius="0"></canvas>
      <div class="container position-static">
        <div class="row align-items-center h-100">

          <div class="col-lg-7">
            <h1 class="display-6 fw-200">Know your Candidate <br> Make your voice heard…</h1>
            <div class="row gap-y">
            <div class="col-md-6 col-lg-3 team-1">
              <a href="#">
                <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Official_portrait_of_Jo_Swinson_crop_2.jpg/800px-Official_portrait_of_Jo_Swinson_crop_2.jpg' %>
              </a>
              <h6><%= @leader.name %></h6>
              <small><%= @leader.party.name %></small>
      
            </div>
          </div>
            <a class="btn btn-xl btn-round btn-outline-light w-300 px-6" href="#section-demo">Get Started</a>
          </div>

          

        </div>
      </div>
    </header><!-- /.header -->
