<%= render 'home-nav'%>
<!-- Header -->
    <header class="header text-white h-fullscreen overflow-hidden" style="background-color: #0439D9;">
      <canvas class="constellation" data-radius="0"></canvas>
      <div class="container position-static">
        <div class="row align-items-center h-100">

          <div class="col-lg-7">
            <h1 class="display-4 fw-500">Know your Candidate <br> Make your voice heard…</h1>
            <a class="btn btn-xl btn-round btn-outline-light w-300 px-6" href="#section-demo">Visit Party Page</a>
          </div>

          <div class="col-lg-5 d-none d-lg-block">
          </div>

        </div>

        

      </div>
    </header><!-- /.header -->
