/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .red-btn {
     background-color: #F20732;
     font-weight: 800;

 }

 .sign-up-page  {
    background-image: url(signup-bg.png);
 }

 .login-page {
    background-image: url(login-bg.png);
    height: 100vh;
 }

 .notice {
   z-index: 999;
 }

 .color-Conservatives {
    background-color:#0AB9FB!important;
 }

 .color-Labour {
   background-color: #F20000!important;

 }

 .color-Liberal {
   background-color: #FFBB00!important;
 }

 .color-Green{
   background-color: #4DC000!important;

 }

 .color-Brexit {
   background-color: #03C1DB!important;

 }

 .color-Scottish {
   background-color: #3A3A3A!important;

 }

 .color-Plaid {
   background-color: #8BC07F!important;

 }

 .color-Democratic {
   background-color: #DF0015!important;

 }

